[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.1.1
[submodule "lib/frax_testing"]
	path = lib/frax_testing
	url = https://github.com/EveripediaNetwork/frax_testing
