# Maintenance
#==========================
MAINTENANCE_ADDRESS='0xBB437059584e30598b3AF0154472E47E6e2a45B9'
MAINTENANCE_PRIVATE_KEY=''
MAINTENANCE_CURRENT_FORK='london'

# Misc
#===========================
# Arbitrum
ARBITRUM_ONE_ADDRESS='0xbCa9a9Aab13a68d311160D4f997E3D783Da865Fb'

# Aurora
AURORA_ONE_ADDRESS='0x1D50A8c3295798fCebdDD0C720BeC4FBEdc3D178'

# Avalanche
AVALANCHE_ONE_ADDRESS='0x4e3376018AdD04EBE4C46bf6F924DDec8C67AA7B'

# Boba
BOBA_ONE_ADDRESS='0xEEF54910b5200F94e91e4A9A891ca95797B6fbf8'

# Ethereum
FRAX_DEPLOYER_ADDRESS='0xa448833bEcE66fD8803ac0c390936C79b5FD6eDf'
FRAX_ONE_ADDRESS='0x234D953a9404Bf9DbC3b526271d440cD2870bCd2'
POOL_OWNER_ADDRESS='0xb39e2041b042f39b8572B6F84dEba99BbB589c8d'
INVESTOR_CUSTODIAN_ADDRESS='0x5180db0237291A6449DdA9ed33aD90a38787621c'
STAKING_OWNER_ADDRESS='0xfF5B4BCbf765FE363269114e1c765229a29eDeFD'
TIMELOCK_ADDRESS='0x8412ebf45bAC1B340BbE8F318b928C466c4E39CA'
FRAX_UTILITY_CONTRACTOR='0x36A87d1E3200225f8814o88E4AEedF25303FebcAe'
MIGRATOR_ADDRESS='0x7b50137E8996A1717a6D97a0527e4c5D2D133405'
COMPTROLLER_MSIG_ADDRESS='0xB1748C79709f4Ba2Dd82834B8c82D4a505003f27'

# Fantom
FANTOM_ONE_ADDRESS='0x5B5BeBc47c9C97D209fa8B6858B2b6d83F51F423'

# Harmony
HARMONY_ONE_ADDRESS='0x6081a797C051fa820fC6425595a58ffAe13d1484'

# Polygon
POLYGON_ONE_ADDRESS='0xedCC5884C5a8A0d2a37fFdCea589807792Ca0b4C'

#API Keys
#===========================
BOBA_API_KEY=''
BSCSCAN_API_KEY=''
COINGECKO_API_KEY=''
ETHERSCAN_API_KEY=''
POLYGONSCAN_API_KEY=''
FTMSCAN_API_KEY=''
HARMONY_API_KEY=''

#Networks
#===========================
# Hey hackers, this seed phrase doesn't have anything in it 👌

# Mainnet
MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'
FRAX_DEPLOYER_PKEY=''
MIGRATOR_PKEY=''

# Ropsten
ROPSTEN_HARDHAT_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'
ROPSTEN_ONE_PKEY='0xb3a3094f3cae8e227368b37f50475df2da0f7c5a2f4118e1dd0c878ebd8f4933'

# Arbitrum
ARBITRUM_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# Aurora
AURORA_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# Avalanche
AVALANCHE_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# Boba
BOBA_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# BSC
BSC_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# Fantom
FANTOM_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# Harmony
HARMONY_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# Moonriver
MOONRIVER_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# Polygon
POLYGON_MNEMONIC_PHRASE='future ahead slight riot brand perfect paddle hammer circle return review behave nasty fiction balcony'

# INFURA
#==========================
INFURA_PROJECT_ID=''

# Quiknode
#===========================
QUIKNODE_KEY=''

# OE Node
#===========================
OPEN_ETHEREUM_ENDPOINT=''

# Flashbots
#===========================
FLASHBOTS_PRIV_KEY=''

# Migrations
#===========================
#MIGRATION_MODE='ganache'
MIGRATION_MODE='ethereum'
#NETWORK_ENDPOINT='http://127.0.0.1:8545'
#SOCKET_ENDPOINT='ws://127.0.0.1:8545'
#METAMASK_ADDRESS='0x89207d530A8755E842CAe89682B3f0BAE59B12b8'

# ETHEREUM
#===========================
ETHEREUM_NETWORK_ENDPOINT='https://main-light.eth.linkpool.io/'
NETWORK_ENDPOINT='https://main-light.eth.linkpool.io/'
ETH_HTTP_ENDPOINT_AUX='https://main-light.eth.linkpool.io/'
ETH_HTTP_ENDPOINT_AUX_BACKUP='https://main-light.eth.linkpool.io/'
SOCKET_ENDPOINT='wss://main-light.eth.linkpool.io/ws'

#MIGRATION_MODE='ropsten'
#NETWORK_ENDPOINT='https://ropsten.infura.io/v3/<INFURA ID>'
#SOCKET_ENDPOINT='wss://ropsten.infura.io/ws/v3/<INFURA ID>'

#MIGRATION_MODE='rinkeby'
#NETWORK_ENDPOINT='https://rinkeby.infura.io/v3/<INFURA ID>'
#SOCKET_ENDPOINT='wss://rinkeby.infura.io/ws/v3/<INFURA ID>'

# ARBITRUM
#========================
ARBITRUM_NETWORK_ENDPOINT='https://rpc.ankr.com/arbitrum'

# AURORA
#========================
AURORA_NETWORK_ENDPOINT='https://mainnet.aurora.dev'
AURORA_NETWORK_ENDPOINT_WSS=''

# AVALANCHE
#========================
AVALANCHE_FORKING_NETWORK_ENDPOINT='https://api.avax.network/ext/bc/C/rpc'
AVALANCHE_NETWORK_ENDPOINT='https://api.avax.network/ext/bc/C/rpc'

# BOBA
#========================
BOBA_NETWORK_ENDPOINT='https://mainnet.boba.network/'
BOBA_NETWORK_ENDPOINT_WSS='wss://wss.mainnet.boba.network/'

# BSC
#========================
BSC_NETWORK_ENDPOINT='https://bsc-dataseed.binance.org/'
BSC_NETWORK_ENDPOINT_WSS='wss://rough-bold-sun.bsc.quiknode.pro/<QUICKNODE KEY>/'

# FANTOM
#========================
FANTOM_FORKING_NETWORK_ENDPOINT='https://rpc.ftm.tools/'
FANTOM_NETWORK_ENDPOINT='https://rpc.ftm.tools/'
FANTOM_NETWORK_ENDPOINT_WSS='https://rpc.ftm.tools/'

# HARMONY
#========================
# NOTE 0x vs dec format https://docs.harmony.one/home/developers/api
# hmy is 0x, hmyv2 is dec
HARMONY_NETWORK_ENDPOINT='https://api.harmony.one'
HARMONY_NETWORK_ENDPOINT_WSS='https://api.s0.b.hmyv2.io'

# MOONRIVER
#========================
MOONRIVER_NETWORK_ENDPOINT='https://moonriver.api.onfinality.io/public'
MOONRIVER_NETWORK_ENDPOINT_WSS='wss://moonriver.api.onfinality.io/public-ws'

# POLYGON
#========================
POLYGON_NETWORK_ENDPOINT='https://polygon-rpc.com'
